{% extends "base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>Create a New Notice</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="noticename">Notice Name</label>
                <input type="text" class="form-control" id="noticename" name="noticename" required>
            </div>
            <div class="form-group col-md-6">
                <label for="noticedescription">Notice Description</label>
                <textarea class="form-control" id="noticedescription" name="noticedescription" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Create Notice</button>
    </form>
</div>

{% endblock %}
