{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>RESET PASSWORD-DIGITAL SOCIETY APPLICATION</title>
	<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/stylesignup.css' %}">
	
</head>
<body>	
	<div class="main"> 
		<div class="signup">
            {% if msg %}
            <div class="alert alert-danger">
                {{msg}}
            </div>
            {% endif %}
			<form action = {% url 'resetpassword' %} method = "post">
				{% csrf_token %}
				<label for="chk" aria-hidden="true">RESET PASSWORD</label>
				<input type="text" name="pass" placeholder="Enter Your Password" required="">
                <input type="text" name="cpass" placeholder="Enter Your Confirm Password" required="">
				<button type="submit">RESET PASSWORD</button>
			</form>
        </div>
	</div>
</body>
</html>